extends ../base.pug

block content
    .uk-card.uk-card-body.uk-card-primary
        h3.uk-card-title Internium Admin Panel
        div
            ul.uk-breadcrumb
                li
                    a(href="/admin") Панель
                li
                    a(href="/admin/specializations") Специализации 
                li 
                    a(href=`/admin/specializations/${specialization.id}/`)= specialization.title
    .uk-card.uk-card-body
        if success
            .uk-alert-success(uk-alert)
                a.uk-alert-close(uk-close)
                p Специализация с id #{specialization.id} успешно обновлена

        h3.uk-card-title Редактирование специализации
        form(action=`/admin/specializations/${specialization.id}/` method="POST").uk-form-stacked
            .uk-margin
                label.uk-form-label(for="form-title") Название специализации 
                input.uk-input(
                    name="title"
                    type="text" 
                    id="title" 
                    placeholder="Название специализации" 
                    required=true 
                    value=specialization.title)
            .uk-margin
                label.uk-form-label(for="engTranslationTitle") Перевод (английский)
                input.uk-input(
                    name="engTranslationTitle"
                    type="text" 
                    id="engTranslationTitle" 
                    placeholder="Название перевода специализации (английский)" 
                    required=true 
                    value=specialization.engTranslationTitle) 
            .uk-margin
                label.uk-form-label(for="position") Позиция
                input.uk-input(
                    name="position"
                    type="number" 
                    id="position" 
                    placeholder="Позиция" 
                    required=true 
                    value=specialization.position)
            .uk-margin
                button.uk-button.uk-button-primary(type="submit") Редактировать

        h3.uk-card-title Редактирование способностей специализации

        form(action=`/admin/specializations/${specialization.id}/abilities` method="POST").uk-form-stacked 
            table.uk-table.uk-table-hover.uk-table-middle
                thead 
                    tr 
                        th #
                        th Название
                        th Перевод (англ.)
                        th Позиция
                        th Действие
                    tr 
                tbody 
                    each ability in specialization.abilities
                        tr
                            td
                                input(type="hidden" name="id" value=ability.id)
                                =ability.id
                            td
                                input.uk-input(
                                    name="title"
                                    type="text" 
                                    id="title" 
                                    placeholder="Название" 
                                    required=true 
                                    value=ability.title)
                            td 
                                input.uk-input(
                                    name="engTranslationTitle"
                                    type="text" 
                                    id="engTranslationTitle" 
                                    placeholder="Название перевода специализации (английский)" 
                                    required=true 
                                    value=ability.engTranslationTitle) 
                            td 
                                input.uk-input(
                                    name="position"
                                    type="number" 
                                    id="position" 
                                    placeholder="Позиция" 
                                    required=true 
                                    value=ability.position) 
                            td 
                                label.cursor-pointer
                                    input(type="hidden" name="isDeleted" value="false")
                                    input.uk-checkbox(id="isDeleted" value="false" type="checkbox") 
                                    span.uk-margin-small-left Удалить
            button.uk-button.uk-button-primary Сохранить

        h3.uk-card-title Добавить способность
        form(action=`/admin/specializations/${specialization.id}/ability` method="POST").uk-form-stacked
            .uk-margin
                label.uk-form-label(for="form-title") Название способности 
                input.uk-input(
                    name="title"
                    type="text" 
                    id="title" 
                    placeholder="Название способности" 
                    required=true )
            .uk-margin
                label.uk-form-label(for="engTranslationTitle") Перевод (английский)
                input.uk-input(
                    name="engTranslationTitle"
                    type="text" 
                    id="engTranslationTitle" 
                    placeholder="Название перевода способности (английский)" 
                    required=true) 
            .uk-margin
                label.uk-form-label(for="position") Позиция
                input.uk-input(
                    name="position"
                    type="number" 
                    id="position" 
                    placeholder="Позиция" 
                    required=true)
            .uk-margin
                button.uk-button.uk-button-primary(type="submit") Добавить

    script.
        const inputs = [...document.querySelectorAll('#isDeleted')]
        inputs.forEach((input) => {
            input.addEventListener('change', e => {
                console.log(input.parentElement)
                const hiddenCheckbox = input.parentElement.querySelector('input[name=isDeleted]')
                hiddenCheckbox.value = e.target.checked 
            })
        })