extends ../base.pug

block content
    .uk-card.uk-card-body.uk-card-primary
        h3.uk-card-title Internium Admin Panel
        div
            ul.uk-breadcrumb
                li
                    a(href="/admin") Панель
                li
                    a(href="/admin/specializations") Специализации 
    .uk-card.uk-card-body
        ul.uk-list.uk-list-large.uk-list-divider
            each specialization in specializations
                li
                    a(href=`/admin/specializations/${specialization.id}/`)= specialization.title