doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Internium API
        link(rel="stylesheet" href="/css/uikit.min.css")
        link(rel="stylesheet" href="/css/styles.css")
    body 
        block content
        script(src="/js/uikit.min.js")

        script.
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }