extends base.pug

block content
    .uk-card
        .uk-card-header.uk-card-primary
            h3.uk-card-title.text-white Internium Admin Panel
            h6.text-white Logged as Admin
        .uk-card-body 
            ul.uk-list.uk-list-large.uk-list-divider
                li
                    a(href='/admin/specializations') Specializations
                //- li
                //-     a(href='/admin/skills') Skills
                //- li
                //-     a(href='/admin/users') Admin users
